# Dependencies
node_modules/
#package-lock.json

# OS files
.DS_Store
Thumbs.db

# IDE files
"frontend copy/"
older_versions/
#.vscode/
#.idea/

# Logs
*.log
npm-debug.log*

# Environment variables
#.env
#.env.local

# Temporary files
*.tmp
*.temp
